RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

<IfModule mod_php5.c>
php_value upload_max_filesize 500M
php_value post_max_size 500M
</IfModule>
