.box1{
    width: 90%;
    text-align: center;
    margin: 5em auto;
}

.box1 img{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.box2{
    width: 80em;
    max-width: 90%;
    margin: 2em auto;
}

.box2 h1{
    font-size: 2.6em;
    text-align: center;
    margin: 1em 0;
    color: #545454;
}

.box2_text{
    font-size: 1.7em;
    font-weight: 300;
    color: #828282;
}

.box2_text p{
    margin: 1em 0;
}

.content{
    margin: 10em 0;
}

