@CHARSET "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400");

html, body{
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    padding: 9em 0;
    text-align: center;
    background: url(../img/header.jpg) fixed center bottom no-repeat;
}

img.profile{
    max-width: 200px;
    border-radius: 50% 50%;
    -moz-border-radius: 50% 50%;
    -webkit-border-radius: 50% 50%;
}

h1.logo{
    margin: 0.5em auto;
    max-width: 400px;
}

header h2{
    font-size: 3em;
    color: #fff;
    letter-spacing: 1px;
}

.content_1{
    width: 100%;
    padding: 8em 0;
}

.content_1 a{
    color: #0A6877;
    font-weight: 400;
}

.content_1 h6{
    font-size: 6em;
    text-align: center;
    color: #0A6877;
}

.content_1 p{
    width: 60%;
    margin: 0 auto;
    font-size: 2.3em;
    font-weight: 300;
    text-align: center;
    color: #545454;
}

.content_2{
    overflow-x: hidden;
    background: url(../img/content_2.jpg) fixed center center no-repeat;
    padding: 8em 0;
    color: #0A6877;
}

.content_2_boxes{
    max-width: 1366px;
    width: 99%;
    margin: 1em auto;
}

.content_2_boxes > div{
    float: left;
    width: 25%;
    padding: 2em 0;
    margin: 1em 0;
    text-align: center;
}

.content_2_boxes > div img{
    max-width: 100px;
    padding: 1.5em;
    border-radius: 50% 50%;
    -moz-border-radius: 50% 50%;
    -webkit-border-radius: 50% 50%;
    border: 2px #0A6877 solid;
}

.content_2_boxes > div span{
    font-size: 2em;
    font-weight: 300;
}

.content_3{
    width: 100%;
    padding: 3em 0;
}

.content_2 > h1, .content_3 > h1, 
.content_4 > h1, .content_5 > h1{
    font-size: 4.1em;
    text-align: center;
    margin: 1em 0;
    color: #0A6877;
}

.content_3_box{
    width: 100%;
    margin: 0 auto;
}

.magazine_1, .magazine_2, .magazine_3, .magazine_4{
    width: 80%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    overflow: hidden;
    padding: 6em 0;
    position: relative;
    margin: 1em auto;
}

.magazine_1_bg, .magazine_2_bg,
.magazine_3_bg, .magazine_4_bg{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    z-index: -10;
}

.magazine_1_bg{
    background: url(../img/magazine_1_bg.jpg) scroll center center no-repeat;
}

.magazine_2_bg{
    background: url(../img/magazine_2_bg.jpg) scroll center center no-repeat;
}

.magazine_3_bg{
    background: url(../img/magazine_3_bg.jpg) scroll center center no-repeat;
}

.magazine_4_bg{
    background: url(../img/magazine_4_bg.jpg) scroll center center no-repeat;
}

.magazine_left{
    width: 15%;
    float: left;
    text-align: center;
}

.magazine_left img, .thumbs{
    max-width: 180px;
    border: 1px #ddd solid;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 0.3em;
}

.magazine_right{
    width: 85%;
    float: right;
    padding: 0 2em 0 0;
}

.left_block{
    width: 85%;
    float: left;
    text-align: right;
}
.right_block{
    width: 15%;
    float: right;
    text-align: center;
}

.magazine_right h1, .right_h1{
    font-size: 3em;
    color: #fff;
}
.magazine_right h2, .right_h2{
    font-size: 1.8em;
    font-weight: 300;
    color: #fff;
    margin: 1em 0;
}   
.magazine_right a, .right_a{
    font-size: 2.1em;
    padding: 0.4em 2em;
    border: 1px #fff solid;
    color: #fff;
}

.magazine_right a:hover, .right_a:hover{
    background: #fff;
    color: #333;
}

.content_4{
    max-width: 1366px;
    width: 90%;
    margin: 0 auto;
    padding: 4em 0;
}

.content_4 > div{
    margin: 2em 0;
}

.content_4 > div h1{
    font-size: 2.6em;
    font-weight: 300;
}

.content_4 > div i{
    color: #0A6877;
}

.content_4 a{
    color: #0A6877;
}

.content_5_boxes{
    width: 100%;
    margin: 0 auto;
}

.content_5_boxes > div{
    float: left;
    width: 50%;
    height: 30em;
    position: relative;
    outline: 2px #fff solid;
}

.content_5_center{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 1em;
    right: 1em;
    text-align: center;
}

.content_5_center h1{
    font-size: 2.5em;
    color: #0A6877;
    text-transform: uppercase;
}

.content_5_center h2{
    font-size: 1.9em;
    font-weight: 300;
}

.content_5_center h6 img{
    max-width: 95px;
}

.content_5_1, .content_5_2, 
.content_5_3, .content_5_4{
    background: #ecf0f1;
}

footer{
    width: 100%;
    padding: 8em 0;
    margin: 19em 0 0 0;
    background: #0A6877;
}

footer h1{
    font-size: 2em;
    color: #fff;
    font-weight: 300;
    margin: 2em 0;
    text-align: center;
}

.social_link{
    padding: 1em 2em;
    margin: 0 auto;
    width: 90%;
    text-align: center;
}

.social_link a{
    font-size: 3em;
    margin: 0 1em;
    color: #fff;
}

a.fb:hover{
    color: #3b5998;
}

a.insta:hover{
    color: #517fa4;
}

a.twitter:hover{
    color: #00aced;
}

a.mail{
    animation: light 2s ease infinite;
    -webkit-animation: light 2s ease infinite;
}


header, .content_2{
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}


@-wekbit-keyframes light {  
    0% {
        text-shadow: 0 0 0 rgba(255,255,255,0.0);
    }  
    50% {
        text-shadow: 0 0 20px rgba(255,255,255,0.8);
    }
    100% {
        text-shadow: 0 0 0 rgba(255,255,255,0.0);
    }
}


@keyframes light {  
    0% {
        text-shadow: 0 0 0 rgba(255,255,255,0.0);
    }  
    50% {
        text-shadow: 0 0 20px rgba(255,255,255,0.8);
    }
    100% {
        text-shadow: 0 0 0 rgba(255,255,255,0.0);
    }
}


@media screen and (max-width: 1400px){
    
    .magazine_1, .magazine_2, .magazine_3, .magazine_4{
        width: 80%;
        margin: 2em auto;
    }
    
    .magazine_right, .left_block{
        width: 80%;
    }
    
    .magazine_left, .right_block{
        width: 20%;
    }
    
    .magazine_right a, .right_a{
        font-size: 1.8em;
    }
    
    .magazine_left img, .thumbs{
        width: 150px;
        border: none;
        padding: 1em;
    }
}

@media screen and (max-width: 1024px){
    
    .content_1 p{
        width: 85%;
    }
    
    .content_2_boxes > div{
        width: 33.33333333333333%;
    }
    
    .content_3 > h1, .content_4 > h1, .content_5 > h1{
        font-size: 3em;
    }
    
    .content_3{
        padding: 3em 0 0 0;
    }
    
    .magazine_left, .left_block{
        width: 100%;
        float: none;
        border: none;
        padding: 1em;
        text-align: center;
        color: #545454;
    }
    .magazine_right, .right_block{
        width: 100%;
        float: none;
        text-align: center;
        
    }
    
    .magazine_left img, .thumbs{
        padding: 0;
        box-shadow: 0 3px 10px #000;
    }
    
    .right_h1, .right_h2, .right_a,
    .magazine_right h1, .magazine_right h2, 
    .magazine_right a{
        color: #545454;
    }
    
    .left_block a, .magazine_right a{
        border: 1px #545454 solid;
        border-radius: 10px;
        color: #333;
    }
    
    .magazine_right a:hover, .right_a:hover{
        background: #333;
        color: #fff;
    }
    
    .magazine_1_bg, .magazine_2_bg,
    .magazine_3_bg, .magazine_4_bg{
        height: 50%;
    }
    
    .content_4 > div{
        border-bottom: 1px #0A6877 dotted;
        padding: 1.7em 0;
        margin: 0 auto;
    }
    
    .content_4 > div:last-child{
        border-bottom: none;
    }
    
    .content_4 > div h1{
        font-size: 1.9em;
        font-weight: 300;
        text-align: center;
    }
    
    .content_4 > div i{
        display: none;
    }
    
    .content_5_boxes > div{
        float: none;
        width: 100%;
        height: auto;
        padding: 3em 0;
    }
    
    .content_5_center{
        position: relative;
        top: inherit;
        transform: none;
        left: 0;
        right: 0;
    }
}


@media screen and (max-width: 768px){
    .content_1 p{
        width: 90%;
        font-size: 1.9em;
    }
    .content_2{
        background: #ddd;
    }
    
    .content_2_boxes > div{
        padding: 4em 0;
        margin: 0;
    }

    .content_2_boxes > div img{
        max-width: 70px;
        padding: 1em;
        border: 1px #0A6877 solid;
    }
    
    .content_2_boxes > div span{
        font-size: 1.4em;
        font-weight: 300;
    }
    
    .magazine_1, .magazine_2, .magazine_3, .magazine_4{
        width: 98%;
        padding: 2em 0;
        margin: 4em auto;
    }
    
    .magazine_1_bg, .magazine_2_bg,
    .magazine_3_bg, .magazine_4_bg{
        height: 45%;
    }
    
    .magazine_left, .magazine_right{
        margin: 0 auto;
        text-align: center;
    }
    
    .content_4 > div h1{
        font-size: 1.7em;
    }
    
    .content_4{
        width: 95%;
    }

}

@media screen and (max-width: 640px){
    
    img.profile{
        width: 150px;
    }
    
    h1.logo{
        width: 210px;
    }
    
    header h2{
        font-size: 2em;
        font-weight: 300;
    }
    
    .content_2 > h1, .content_3 > h1, 
    .content_4 > h1, .content_5 > h1{
        font-size: 3em;
    }
    
    .content_2{
        background: #ddd;
    }
    
    .content_2_boxes > div{
        float: left;
        width: 50%;
    }
    
    .magazine_1_bg, .magazine_2_bg,
    .magazine_3_bg, .magazine_4_bg{
        height: 30%;
    }
    
    .social_link{
        width: 90%;
    }
    
    .social_link a{
        font-size: 2em;
    }
}